Repository wpbarco/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: langsmith, langgraph, langchain, oss, python, javascript, ci, docs-infra, tests

Update src/oss/python/integrations/providers/timbr.mdx
  src/oss/python/integrations/providers/timbr.mdx
Labels: langchain, oss, python

Update src/oss/python/integrations/graphs/timbr.mdx
  src/oss/python/integrations/graphs/timbr.mdx
Labels: langchain, oss, python

Update src/oss/python/integrations/providers/timbr.mdx
  src/oss/python/integrations/providers/timbr.mdx
Labels: langchain, oss, python

docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s) (#1286)
  src/langsmith/langgraph-server-changelog.mdx
Labels: langsmith

Updating the VoyageAI models (#1291)
  src/oss/python/integrations/document_transformers/voyageai-reranker.mdx
  src/oss/python/integrations/text_embedding/voyageai.mdx
Labels: langchain, oss, python

chore: fix external redis and postgres links (#1294)
  src/langsmith/data-plane.mdx
Labels: langsmith

feat(langchain): improve tool call limit middleware docs (#1293)
  src/oss/langchain/middleware.mdx
Labels: langchain, oss

oss(py): update partner package pipeline (#1297)
  .github/workflows/update-package-downloads.yml
  pipeline/tools/partner_pkg_table.py
  reference/packages.yml
  src/oss/python/integrations/providers/overview.mdx
Labels: langchain, oss, python, ci, docs-infra

chore(infra): add note to `update-package-downloads.yml` about regenerated file (#1300)
  .github/workflows/update-package-downloads.yml
Labels: ci

Update important note formatting in README.md (#1303)
  README.md
Labels: none

Add callout and short steps for auth to private registry (#1255)
  src/langsmith/deploy-self-hosted-full-platform.mdx
  src/langsmith/deploy-with-control-plane.mdx
Labels: langsmith

refs(py): community base (no content) (#1304)
  reference/python/docs/integrations/index.md
  reference/python/docs/integrations/langchain_community/index.md
  reference/python/mkdocs.yml
  reference/python/uv.lock
Labels: none

docs: clarify Insights configuration options and add manual mode screenshot (#1295)
  src/langsmith/images/insights-manual-config.png
  src/langsmith/insights.mdx
Labels: langsmith

feat: better docs for todo list middleware (#1305)
  src/oss/deepagents/middleware.mdx
  src/oss/langchain/middleware.mdx
Labels: langchain, oss

add Cosmos DB Chat Message History to Microsoft doc (#1306)
  src/oss/python/integrations/providers/microsoft.mdx
Labels: langchain, oss, python

docs: add resource info per service to scale page (#1285)
  src/langsmith/self-host-scale.mdx
Labels: langsmith

Add hyperlinks to homepage for obs evals deployment (#1296)
  src/index.mdx
Labels: none

py: delete `Goodfire` (#1307)
  reference/packages.yml
  src/oss/python/integrations/chat/goodfire.mdx
  src/oss/python/integrations/chat/index.mdx
  src/oss/python/integrations/providers/all_providers.mdx
  src/oss/python/integrations/providers/goodfire.mdx
Labels: langchain, oss, python

oss: refresh errors page (#1308)
  src/docs.json
  src/oss/common-errors.mdx
  src/oss/contributing/overview.mdx
Labels: oss

oss: minor copy updates to popular integrations (#1309)
  src/oss/python/integrations/providers/anthropic.mdx
  src/oss/python/integrations/providers/aws.mdx
  src/oss/python/integrations/providers/azure_ai.mdx
  src/oss/python/integrations/providers/google_serper.mdx
  src/oss/python/integrations/providers/huggingface.mdx
  src/oss/python/integrations/providers/microsoft.mdx
  src/oss/python/integrations/providers/ollama.mdx
  src/oss/python/integrations/providers/openai.mdx
Labels: langchain, oss, python

oss: add API retrival link for weather doc loader (#1311)
  src/oss/python/integrations/document_loaders/weather.mdx
Labels: langchain, oss, python

Deepagents JS docs (#1310)
  src/docs.json
  src/oss/deepagents/backends.mdx
  src/oss/deepagents/customization.mdx
  src/oss/deepagents/human-in-the-loop.mdx
  src/oss/deepagents/long-term-memory.mdx
  src/oss/deepagents/middleware.mdx
  src/oss/deepagents/quickstart.mdx
  src/oss/deepagents/subagents.mdx
  src/oss/reference/deepagents-javascript.mdx
Labels: oss

docs: add page for couchbase_query (CouchbaseQueryVectorStore) and refactor existing Couchbase docs (#1079)
  src/oss/javascript/integrations/providers/all_providers.mdx
  src/oss/javascript/integrations/vectorstores/couchbase_query.mdx
  src/oss/javascript/integrations/vectorstores/couchbase_search.mdx
  src/oss/javascript/integrations/vectorstores/index.mdx
Labels: langchain, oss, javascript

integration: add docs for `langchain-teradata` (#1137)
  src/oss/python/integrations/vectorstores/teradata.mdx
Labels: langchain, oss, python

integration: add FalkorDB integration documentation (#1131)
  src/oss/javascript/integrations/tools/falkordb.mdx
  src/oss/javascript/integrations/tools/index.mdx
Labels: langchain, oss, javascript

(docs): add examples on recursion counter access and proactive handling in graph-api (#1166)
  src/oss/langgraph/graph-api.mdx
Labels: langgraph, oss

docs: Add javascript version of langgraph/sql-agent (#1050)
  src/oss/langgraph/sql-agent.mdx
Labels: langgraph, oss

docs: Add typing import for CustomMiddleware (#1298)
  src/oss/langchain/agents.mdx
Labels: langchain, oss

Fix formatting and highlight code sections (#1181)
  src/oss/langchain/short-term-memory.mdx
Labels: langchain, oss

Update deploy-hybrid.mdx (#1268)
  src/langsmith/deploy-hybrid.mdx
Labels: langsmith

fix(docs): Update rag.mdx 'llm' variable to 'model' (#1314)
  src/oss/langchain/rag.mdx
Labels: langchain, oss

Update step enumeration for SQL agent tutorial (#1232)
  src/oss/langchain/sql-agent.mdx
Labels: langchain, oss

feat(models): tool calling flow diagram (#1222)
  src/oss/langchain/models.mdx
Labels: langchain, oss

fix: `disable_studio_auth` type (#1188)
  src/langsmith/set-up-custom-auth.mdx
Labels: langsmith

feat(tools): runtime context access diagram (#1223)
  src/oss/langchain/tools.mdx
Labels: langchain, oss

Change callModel node to async function (#1209)
  src/oss/langgraph/streaming.mdx
Labels: langgraph, oss

Add UI delete API key docs (#1317)
  src/langsmith/create-account-api-key.mdx
Labels: langsmith

add `deepagents` JS/TS to homepage (#1319)
  src/index.mdx
Labels: none

Fix AIMessage class path in Python example (#1318)
  src/oss/langchain/messages.mdx
Labels: langchain, oss

fix(models): localize mermaid diagram (#1321)
  src/oss/langchain/models.mdx
Labels: langchain, oss

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

# Label for LangSmith documentation changes
langsmith:
  - changed-files:
    - any-glob-to-any-file:
      - src/langsmith/**
      - src/langsmith/**/*

# Label for LangGraph documentation changes
langgraph:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langgraph/**
      - src/oss/langgraph/**/*

# Label for LangChain documentation changes
langchain:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langchain/**
      - src/oss/langchain/**/*
      - src/oss/python/**
      - src/oss/python/**/*
      - src/oss/javascript/**
      - src/oss/javascript/**/*

# Label for OSS documentation changes
oss:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/**
      - src/oss/**/*

# Label for Python-specific documentation
python:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/python/**
      - src/oss/python/**/*
      - '**/*.py'

# Label for JavaScript-specific documentation
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/javascript/**
      - src/oss/javascript/**/*
      - '**/*.js'
      - '**/*.ts'

# Label for build/CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**
      - Makefile
      - pyproject.toml
      - package.json
      - uv.lock

# Label for documentation infrastructure changes
docs-infra:
  - changed-files:
    - any-glob-to-any-file:
      - pipeline/**
      - pipeline/**/*
      - scripts/**
      - scripts/**/*

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - tests/**/*
      - '**/*test*.py'
      - '**/*test*.js'
      - '**/*test*.ts'
