Repository wpbarco/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: langsmith, langgraph, langchain, oss, python, javascript, ci, docs-infra, tests

cr
  src/docs.json
  src/oss/deepagents/harness.mdx
Labels: oss

Add langchain-timbr provider documentation
  src/oss/python/integrations/graphs/timbr.mdx
  src/oss/python/integrations/providers/all_providers.mdx
  src/oss/python/integrations/providers/timbr.mdx
Labels: langchain, oss, python

Update deployments section + hosting for app deployment control plane (#1106)
  src/docs.json
  src/langsmith/deploy-hybrid.mdx
  src/langsmith/deploy-self-hosted-full-platform.mdx
  src/langsmith/deploy-with-control-plane.mdx
  src/langsmith/deployments.mdx
  src/langsmith/evaluation.mdx
  src/langsmith/hosting.mdx
  src/langsmith/observability.mdx
  src/langsmith/prompt-engineering.mdx
  src/langsmith/self-hosted.mdx
  src/snippets/langsmith/hosting-setup-note.mdx
Labels: langsmith

deepagents storage (#1150)
  src/docs.json
  src/oss/deepagents/backends.mdx
  src/oss/deepagents/harness.mdx
Labels: oss

copy edits for agent harness (#1162)
  src/docs.json
  src/oss/deepagents/harness.mdx
Labels: oss

Fix command for adding langchain-qdrant (#1154)
  src/oss/python/integrations/providers/qdrant.mdx
Labels: langchain, oss, python

Update feature matrix for Astra DB vector store integration (#1159)
  src/oss/python/integrations/vectorstores/index.mdx
Labels: langchain, oss, python

10/28 refs & more (#1164)
  pipeline/preprocessors/link_map.py
  reference/python/docs/integrations/langchain_neo4j.md
  reference/python/docs/langchain/messages.md
  reference/python/pyproject.dev.toml
  reference/python/pyproject.prod.toml
  reference/python/pyproject.toml
  reference/python/uv.lock
  src/oss/langchain/messages.mdx
  src/oss/python/integrations/chat/anthropic.mdx
Labels: langchain, oss, python, docs-infra

chore: update preview ID message to clarify Mintlify (#1165)
  .github/workflows/create-preview-branch.yml
Labels: ci

docs: Adding in Docs for using Azure Default Credential Callable with OpenAI (#1160)
  src/oss/python/integrations/chat/azure_chat_openai.mdx
  src/oss/python/integrations/chat/openai.mdx
  src/oss/python/integrations/text_embedding/openai.mdx
Labels: langchain, oss, python

ref(js): use `fs.rmSync` (#1167)
  reference/javascript/build.ts
Labels: javascript

fix references to chat completions (#1168)
  src/oss/python/integrations/chat/index.mdx
  src/oss/python/integrations/chat/openai.mdx
Labels: langchain, oss, python

update home page and links to old content (#1169)
  src/index.mdx
  src/oss/langchain/overview.mdx
  src/oss/langgraph/overview.mdx
Labels: langgraph, langchain, oss

feat: add agent buider tools to docs (#1152)
  src/docs.json
  src/langsmith/agent-builder-tools.mdx
Labels: langsmith

docs: Change context_schema from ContextSchema to Context (#1156)
  src/oss/python/migrate/langchain-v1.mdx
Labels: langchain, oss, python

Update ToolRuntime[Context] (#1151)
  src/oss/langchain/quickstart.mdx
Labels: langchain, oss

fix(docs): Custom RAG Grade Documents sample (#1155)
  src/oss/langgraph/agentic-rag.mdx
Labels: langgraph, oss

Rename callmodel to callLlm in quickstart.mdx (#1158)
  src/oss/langgraph/quickstart.mdx
Labels: langgraph, oss

fix(langchain): correct createAgent parameter name in quickstart (#1157)
  src/oss/langchain/quickstart.mdx
Labels: langchain, oss

Update LSD control plane API auth section to specify `X-Tenant-Id` (#1163)
  src/langsmith/api-ref-control-plane.mdx
Labels: langsmith

Update Fireworks Documentation (#1170)
  src/oss/python/integrations/chat/fireworks.mdx
  src/oss/python/integrations/llms/fireworks.mdx
Labels: langchain, oss, python

Add Codex CLI connection instructions (#1171)
  src/use-these-docs.mdx
Labels: none

chore(oss/js): hide ToolRuntime from js tools docs (#1172)
  src/oss/langchain/tools.mdx
Labels: langchain, oss

Streamline self-hosted language quick fix (#1186)
  src/langsmith/self-hosted.mdx
Labels: langsmith

Update language around standalone servers for support (#1109)
  src/langsmith/deploy-standalone-server.mdx
  src/langsmith/self-hosted.mdx
Labels: langsmith

Adjust deployment guide position + configuration group (#1185)
  src/docs.json
  src/langsmith/deploy-to-cloud.mdx
  src/langsmith/deployments.mdx
  src/langsmith/local-server.mdx
Labels: langsmith

fix(docs): Fix indentation in route_bc_or_cd function (#1184)
  src/oss/langgraph/use-graph-api.mdx
Labels: langgraph, oss

fix(docs): typo in the "Pass private state between nodes" output example. (#1183)
  src/oss/langgraph/use-graph-api.mdx
Labels: langgraph, oss

Clean up imports in short-term-memory.mdx (#1182)
  src/oss/langchain/short-term-memory.mdx
Labels: langchain, oss

docs: fixed typo in inject file context example (#1176)
  src/oss/langchain/context-engineering.mdx
Labels: langchain, oss

refs(py): 10/29 (#1189)
  reference/python/docs/langchain/agents.md
  reference/python/docs/langchain/embeddings.md
  reference/python/docs/langchain/models.md
  reference/python/docs/langchain_core/documents.md
  reference/python/docs/langchain_core/language_models.md
  reference/python/uv.lock
Labels: none

migration guide additions & fix refs build (#1190)
  reference/python/mkdocs.yml
  src/oss/python/migrate/langchain-v1.mdx
Labels: langchain, oss, python

py: add v0.3 refs (#1192)
  .gitmodules
  reference/README.md
  reference/package.json
Labels: none

docs(langgraph): add docs on Overwrite (#1202)
  reference/python/docs/langgraph/types.md
  src/oss/langgraph/graph-api.mdx
  src/oss/langgraph/use-graph-api.mdx
Labels: langgraph, oss

Update retriever imports to use langchain_classic for v1 compatibility (#1196)
  src/oss/python/integrations/callbacks/uptrain.mdx
  src/oss/python/integrations/document_loaders/docugami.mdx
  src/oss/python/integrations/document_transformers/cross_encoder_reranker.mdx
  src/oss/python/integrations/document_transformers/dashscope_rerank.mdx
  src/oss/python/integrations/document_transformers/google_cloud_vertexai_rerank.mdx
  src/oss/python/integrations/document_transformers/infinity_rerank.mdx
  src/oss/python/integrations/document_transformers/jina_rerank.mdx
  src/oss/python/integrations/document_transformers/openvino_rerank.mdx
  src/oss/python/integrations/document_transformers/rankllm-reranker.mdx
  src/oss/python/integrations/document_transformers/volcengine_rerank.mdx
  src/oss/python/integrations/document_transformers/voyageai-reranker.mdx
  src/oss/python/integrations/providers/astradb.mdx
  src/oss/python/integrations/providers/breebs.mdx
  src/oss/python/integrations/providers/chaindesk.mdx
  src/oss/python/integrations/providers/chroma.mdx
  src/oss/python/integrations/providers/cohere.mdx
  src/oss/python/integrations/providers/metal.mdx
  src/oss/python/integrations/providers/outline.mdx
  src/oss/python/integrations/providers/pubmed.mdx
  src/oss/python/integrations/providers/ragatouille.mdx
  src/oss/python/integrations/providers/vespa.mdx
  src/oss/python/integrations/providers/wikipedia.mdx
  src/oss/python/integrations/retrievers/flashrank-reranker.mdx
  src/oss/python/integrations/retrievers/fleet_context.mdx
  src/oss/python/integrations/retrievers/greennode_reranker.mdx
  src/oss/python/integrations/retrievers/ibm_watsonx_ranker.mdx
  src/oss/python/integrations/retrievers/llmlingua.mdx
  src/oss/python/integrations/retrievers/merger_retriever.mdx
  src/oss/python/integrations/retrievers/re_phrase.mdx
  src/oss/python/integrations/vectorstores/timescalevector.mdx
  src/oss/python/integrations/vectorstores/vectara.mdx
Labels: langchain, oss, python

js: infer gpt-5 on init (#1206)
  src/oss/javascript/migrate/langchain-v1.mdx
  src/oss/langchain/agents.mdx
  src/oss/langchain/messages.mdx
  src/oss/langchain/rag.mdx
  src/oss/langchain/short-term-memory.mdx
  src/oss/langchain/sql-agent.mdx
  src/oss/langchain/streaming.mdx
  src/oss/langchain/structured-output.mdx
Labels: langchain, oss, javascript

docs: clarify Bright Data API key setup instructions (#1201)
  src/oss/python/integrations/providers/brightdata.mdx
Labels: langchain, oss, python

refs: add db2, ibm, supervisor (#1207)
  reference/python/docs/integrations/langchain_db2.md
  reference/python/docs/integrations/langchain_ibm.md
  reference/python/docs/langgraph/supervisor.md
  reference/python/pyproject.dev.toml
  reference/python/pyproject.prod.toml
  reference/python/pyproject.toml
  reference/python/uv.lock
Labels: none

chore: add docs on restricting PAT creation (#1204)
  src/langsmith/administration-overview.mdx
  src/langsmith/manage-organization-by-api.mdx
Labels: langsmith

fix: missed PR feedback on PAT restrictions (#1216)
  src/langsmith/manage-organization-by-api.mdx
Labels: langsmith

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

# Label for LangSmith documentation changes
langsmith:
  - changed-files:
    - any-glob-to-any-file:
      - src/langsmith/**
      - src/langsmith/**/*

# Label for LangGraph documentation changes
langgraph:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langgraph/**
      - src/oss/langgraph/**/*

# Label for LangChain documentation changes
langchain:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langchain/**
      - src/oss/langchain/**/*
      - src/oss/python/**
      - src/oss/python/**/*
      - src/oss/javascript/**
      - src/oss/javascript/**/*

# Label for OSS documentation changes
oss:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/**
      - src/oss/**/*

# Label for Python-specific documentation
python:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/python/**
      - src/oss/python/**/*
      - '**/*.py'

# Label for JavaScript-specific documentation
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/javascript/**
      - src/oss/javascript/**/*
      - '**/*.js'
      - '**/*.ts'

# Label for build/CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**
      - Makefile
      - pyproject.toml
      - package.json
      - uv.lock

# Label for documentation infrastructure changes
docs-infra:
  - changed-files:
    - any-glob-to-any-file:
      - pipeline/**
      - pipeline/**/*
      - scripts/**
      - scripts/**/*

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - tests/**/*
      - '**/*test*.py'
      - '**/*test*.js'
      - '**/*test*.ts'
