Repository wpbarco/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: langsmith, langgraph, langchain, oss, python, javascript, ci, docs-infra, tests

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

# Label for LangSmith documentation changes
langsmith:
  - changed-files:
    - any-glob-to-any-file:
      - src/langsmith/**
      - src/langsmith/**/*

# Label for LangGraph documentation changes
langgraph:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langgraph/**
      - src/oss/langgraph/**/*

# Label for LangChain documentation changes
langchain:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langchain/**
      - src/oss/langchain/**/*
      - src/oss/python/**
      - src/oss/python/**/*
      - src/oss/javascript/**
      - src/oss/javascript/**/*

# Label for OSS documentation changes
oss:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/**
      - src/oss/**/*

# Label for Python-specific documentation
python:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/python/**
      - src/oss/python/**/*
      - '**/*.py'

# Label for JavaScript-specific documentation
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/javascript/**
      - src/oss/javascript/**/*
      - '**/*.js'
      - '**/*.ts'

# Label for build/CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**
      - Makefile
      - pyproject.toml
      - package.json
      - uv.lock

# Label for documentation infrastructure changes
docs-infra:
  - changed-files:
    - any-glob-to-any-file:
      - pipeline/**
      - pipeline/**/*
      - scripts/**
      - scripts/**/*

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - tests/**/*
      - '**/*test*.py'
      - '**/*test*.js'
      - '**/*test*.ts'

Updates to self-hosted LS deployments (#1191)
  src/langsmith/components.mdx
  src/langsmith/deploy-self-hosted-full-platform.mdx
  src/langsmith/deploy-standalone-server.mdx
  src/langsmith/deploy-with-control-plane.mdx
  src/langsmith/hosting.mdx
  src/langsmith/kubernetes.mdx
  src/langsmith/self-hosted.mdx
Labels: langsmith

chore: add docs on custom output rendering (#1208)
  src/docs.json
  src/langsmith/custom-output-rendering.mdx
  src/langsmith/images/custom-output-rendering-annotation-queue.png
  src/langsmith/images/custom-output-rendering-experiment-comparison.png
  src/langsmith/images/custom-output-rendering-menu.png
  src/langsmith/images/custom-output-rendering-modal.png
  src/langsmith/images/custom-output-rendering-run-details.png
Labels: langsmith

docs: add usage note for langchainjs in error documentation (#1220)
  src/oss/langchain/errors/INVALID_TOOL_RESULTS.mdx
  src/oss/langchain/errors/MODEL_AUTHENTICATION.mdx
  src/oss/langchain/errors/MODEL_NOT_FOUND.mdx
  src/oss/langchain/errors/MODEL_RATE_LIMIT.mdx
Labels: langchain, oss

fix(pinecone): add API key and index initialization for Pinecone client (#1221)
  src/snippets/vectorstore-tabs-js.mdx
Labels: none

docs: clarify run-time validation limitations in graph outputs (#1224)
  src/oss/langgraph/use-graph-api.mdx
Labels: langgraph, oss

fix(docs): Fix unused parameter from get_user_location QuickStart agent sample (#1214)
  src/oss/langchain/quickstart.mdx
Labels: langchain, oss

Fix typo in backends.mdx documentation (#1213)
  src/oss/deepagents/backends.mdx
Labels: oss

fix(docs): broken links in LangGraph - Graph API page (#1194)
  src/oss/langgraph/graph-api.mdx
Labels: langgraph, oss

Rename hosting to platform setup in tabs (#1218)
  src/docs.json
  src/langsmith/cicd-pipeline-example.mdx
  src/langsmith/cloud.mdx
  src/langsmith/deploy-with-control-plane.mdx
  src/langsmith/deployments.mdx
  src/langsmith/evaluation.mdx
  src/langsmith/home.mdx
  src/langsmith/hybrid.mdx
  src/langsmith/langgraph-server.mdx
  src/langsmith/local-server.mdx
  src/langsmith/observability.mdx
  src/langsmith/platform-setup.mdx
  src/langsmith/prompt-engineering.mdx
  src/langsmith/self-hosted.mdx
  src/langsmith/semantic-search.mdx
  src/oss/langgraph/local-server.mdx
  src/oss/langgraph/persistence.mdx
  src/snippets/langsmith/hosting-setup-note.mdx
  src/snippets/langsmith/platform-setup-note.mdx
  src/snippets/oss/deploy.mdx
Labels: langsmith, langgraph, oss

Update home page based on feedback (#1227)
  src/index.mdx
  src/langsmith/home.mdx
  src/oss/langchain/quickstart.mdx
  src/oss/langgraph/quickstart.mdx
Labels: langsmith, langgraph, langchain, oss

refs(py): 10/31 (#1229)
  reference/python/README.md
  reference/python/docs/integrations/langchain_azure_ai/index.md
  reference/python/docs/integrations/langchain_azure_dynamic_sessions/index.md
  reference/python/docs/integrations/langchain_azure_storage/index.md
  reference/python/docs/integrations/langchain_nomic.md
  reference/python/docs/integrations/langchain_prompty.md
  reference/python/docs/integrations/langchain_tavily.md
  reference/python/mkdocs.yml
  reference/python/uv.lock
  reference/vercel.json
  src/oss/langgraph/streaming.mdx
Labels: langgraph, oss

fix: Change max_tokens to trigger in middleware config (#1234)
  src/oss/langchain/middleware.mdx
Labels: langchain, oss

docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s) (#1231)
  src/langsmith/langgraph-server-changelog.mdx
Labels: langsmith

chore: explicitly state group renaming in SCIM is not supported (#1235)
  src/langsmith/user-management.mdx
Labels: langsmith

Change remaining hosting refs (#1248)
  src/langsmith/deploy-with-control-plane.mdx
  src/langsmith/deployments.mdx
  src/langsmith/home.mdx
  src/oss/langgraph/local-server.mdx
  src/snippets/oss/deploy.mdx
Labels: langsmith, langgraph, oss

fix: don't x-ref `system_prompt` param for JS (#1250)
  src/oss/langchain/agents.mdx
Labels: langchain, oss

fix: clarify `LANGSMITH_WORKSPACE_ID` description in quickstart guides (#1253)
  src/langsmith/evaluation-quickstart.mdx
  src/langsmith/observability-quickstart.mdx
Labels: langsmith

remove redundant codegroup for langsmith quickstart (#1257)
  src/langsmith/trace-with-langchain.mdx
  src/langsmith/trace-with-langgraph.mdx
Labels: langsmith

refs(py): azure ai content (#1230)
  reference/python/docs/integrations/langchain_azure_ai/index.md
Labels: none

Remove deadlink (#1258)
  src/langsmith/evaluation-concepts.mdx
Labels: langsmith

feat: add slack app install page for app verification (#1260)
  src/docs.json
  src/langsmith/agent-builder-slack-install.mdx
Labels: langsmith

docs(langchain-ibm): Updated `langchain-ibm` reference documentation (#1247)
  reference/python/docs/integrations/langchain_ibm.md
  reference/python/docs/integrations/langchain_ibm/ChatWatsonx.md
  reference/python/docs/integrations/langchain_ibm/WatsonxEmbeddings.md
  reference/python/docs/integrations/langchain_ibm/WatsonxLLM.md
  reference/python/docs/integrations/langchain_ibm/WatsonxRerank.md
  reference/python/docs/integrations/langchain_ibm/WatsonxSQLDatabaseToolkit.md
  reference/python/docs/integrations/langchain_ibm/WatsonxToolkit.md
  reference/python/docs/integrations/langchain_ibm/index.md
  reference/python/mkdocs.yml
Labels: none

remove deprecated zilliz cloud pipeline doc (#1264)
  src/oss/python/integrations/retrievers/index.mdx
  src/oss/python/integrations/retrievers/zilliz_cloud_pipeline.mdx
Labels: langchain, oss, python

refs(py): standard tests (#1265)
  reference/python/docs/langchain_tests/index.md
  reference/python/docs/langchain_tests/integration_tests.md
  reference/python/docs/langchain_tests/integration_tests/base.md
  reference/python/docs/langchain_tests/integration_tests/caches.md
  reference/python/docs/langchain_tests/integration_tests/chat_models.md
  reference/python/docs/langchain_tests/integration_tests/embeddings.md
  reference/python/docs/langchain_tests/integration_tests/index.md
  reference/python/docs/langchain_tests/integration_tests/kv_stores.md
  reference/python/docs/langchain_tests/integration_tests/retrievers.md
  reference/python/docs/langchain_tests/integration_tests/tools.md
  reference/python/docs/langchain_tests/integration_tests/vectorstores.md
  reference/python/docs/langchain_tests/unit_tests.md
  reference/python/docs/langchain_tests/unit_tests/chat_models.md
  reference/python/docs/langchain_tests/unit_tests/embeddings.md
  reference/python/docs/langchain_tests/unit_tests/index.md
  reference/python/docs/langchain_tests/unit_tests/tools.md
  reference/python/mkdocs.yml
  reference/python/uv.lock
Labels: none

docs: [LangGraph Server Changelog Bot] Changelog updates for new version(s) (#1263)
  src/langsmith/langgraph-server-changelog.mdx
Labels: langsmith

Update cli config (#1271)
  src/langsmith/cli.mdx
Labels: langsmith

refs(py): add `langchain-cohere` (#1272)
  reference/python/docs/integrations/langchain_cohere.md
  reference/python/pyproject.dev.toml
  reference/python/pyproject.prod.toml
  reference/python/pyproject.toml
  reference/python/uv.lock
Labels: none

docs(langchain-ibm): Updated `langchain-ibm` and `langchain-db2` docs, Added correct icons, Makes IBM more visible (#1270)
  reference/python/docs/integrations/langchain_ibm/index.md
  reference/python/docs/integrations/langchain_openai/index.md
  src/oss/python/integrations/chat/ibm_watsonx.mdx
  src/oss/python/integrations/chat/index.mdx
  src/oss/python/integrations/llms/ibm_watsonx.mdx
  src/oss/python/integrations/providers/ibm.mdx
  src/oss/python/integrations/retrievers/ibm_watsonx_ranker.mdx
  src/oss/python/integrations/text_embedding/ibm_watsonx.mdx
  src/oss/python/integrations/tools/ibm_watsonx.mdx
Labels: langchain, oss, python

refs(py): add `langchain-model-profiles` (#1273)
  reference/python/docs/langchain_model_profiles/index.md
  reference/python/docs/langsmith/index.md
  reference/python/mkdocs.yml
  reference/python/pyproject.dev.toml
  reference/python/pyproject.prod.toml
  reference/python/pyproject.toml
  reference/python/uv.lock
Labels: none

fix: duplicate text in typescript rag documentation (#1275)
  src/oss/langchain/rag.mdx
Labels: langchain, oss

Fix environment variable name for Google Scholar API (#1266)
  src/oss/javascript/integrations/tools/google_scholar.mdx
Labels: langchain, oss, javascript

refs(py): add `langchain-weaviate` (#1277)
  reference/python/docs/integrations/langchain_weaviate.md
  reference/python/pyproject.dev.toml
  reference/python/pyproject.prod.toml
  reference/python/pyproject.toml
  reference/python/uv.lock
Labels: none

add deep agents middleware to sidebar (#1279)
  src/docs.json
Labels: none

Remove duplicate install commands manage prompts programatically (#1280)
  src/langsmith/manage-prompts-programmatically.mdx
Labels: langsmith

fix run delete docs (#1281)
  src/langsmith/data-purging-compliance.mdx
Labels: langsmith

edit styling to enable localization (#1276)
  README.md
  src/docs.json
  src/oss/contributing/documentation.mdx
  src/style.css
Labels: oss

Add more definition resource vs commit tags (#1261)
  src/langsmith/administration-overview.mdx
  src/langsmith/manage-prompts.mdx
  src/langsmith/prompt-engineering-concepts.mdx
  src/langsmith/set-up-resource-tags.mdx
Labels: langsmith

chore: add docs on configuring custom output rendering for annotation queues (#1267)
  src/langsmith/custom-output-rendering.mdx
  src/langsmith/images/annotation-queue-custom-output-rendering-settings.png
Labels: langsmith

fix: use 2.5-flash instead of preview variant (#1284)
  src/oss/python/integrations/retrievers/imap.mdx
Labels: langchain, oss, python

integrations: update sambanova docs (#1145)
  src/oss/python/integrations/chat/index.mdx
  src/oss/python/integrations/chat/sambanova.mdx
  src/oss/python/integrations/chat/sambastudio.mdx
  src/oss/python/integrations/llms/sambanovacloud.mdx
  src/oss/python/integrations/llms/sambastudio.mdx
  src/oss/python/integrations/providers/sambanova.mdx
  src/oss/python/integrations/text_embedding/index.mdx
  src/oss/python/integrations/text_embedding/sambanova.mdx
  src/oss/python/integrations/text_embedding/sambastudio.mdx
Labels: langchain, oss, python
