Repository wpbarco/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: langsmith, langgraph, langchain, oss, python, javascript, ci, docs-infra, tests

.github/labeler.yml:

# Configuration for GitHub Actions Labeler
# https://github.com/actions/labeler

# Label for LangSmith documentation changes
langsmith:
  - changed-files:
    - any-glob-to-any-file:
      - src/langsmith/**
      - src/langsmith/**/*

# Label for LangGraph documentation changes
langgraph:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langgraph/**
      - src/oss/langgraph/**/*

# Label for LangChain documentation changes
langchain:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/langchain/**
      - src/oss/langchain/**/*
      - src/oss/python/**
      - src/oss/python/**/*
      - src/oss/javascript/**
      - src/oss/javascript/**/*

# Label for OSS documentation changes
oss:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/**
      - src/oss/**/*

# Label for Python-specific documentation
python:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/python/**
      - src/oss/python/**/*
      - '**/*.py'

# Label for JavaScript-specific documentation
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - src/oss/javascript/**
      - src/oss/javascript/**/*
      - '**/*.js'
      - '**/*.ts'

# Label for build/CI changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**
      - Makefile
      - pyproject.toml
      - package.json
      - uv.lock

# Label for documentation infrastructure changes
docs-infra:
  - changed-files:
    - any-glob-to-any-file:
      - pipeline/**
      - pipeline/**/*
      - scripts/**
      - scripts/**/*

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - tests/**/*
      - '**/*test*.py'
      - '**/*test*.js'
      - '**/*test*.ts'

fix(deepagents): localize homepage (#1322)
  src/oss/deepagents/overview.mdx
Labels: oss

Fix file name for snippet (#1324)
  src/langsmith/evaluation.mdx
  src/langsmith/observability.mdx
  src/langsmith/prompt-engineering.mdx
Labels: langsmith

fix: add notes about dependency injection (#1326)
  src/oss/concepts/context.mdx
  src/oss/langchain/runtime.mdx
  src/oss/langchain/tools.mdx
Labels: langchain, oss

various fixes (#1327)
  reference/python/docs/index.md
  reference/python/docs/integrations/index.md
  reference/vercel.json
  src/oss/langchain/install.mdx
  src/oss/langchain/models.mdx
  src/oss/langchain/overview.mdx
  src/oss/langgraph/install.mdx
Labels: langgraph, langchain, oss

docs: include sdk methods for insights (#1302)
  src/langsmith/insights.mdx
Labels: langsmith

Update environment variable assignments in faiss.mdx (#1325)
  src/oss/javascript/integrations/vectorstores/faiss.mdx
Labels: langchain, oss, javascript

Add blank lines to improve code style. (#1329)
  src/oss/langchain/short-term-memory.mdx
Labels: langchain, oss

Quick style fixes to annotation queue guide for docs consistency (#1330)
  src/langsmith/annotation-queues.mdx
  src/langsmith/images/annotation-queue-edit.png
  src/langsmith/images/create-annotation-queue.png
Labels: langsmith

doc: add /runs/:id rate limit (#1332)
  src/langsmith/administration-overview.mdx
Labels: langsmith

Add LS sdk to link_py.py for auth link fix (#1333)
  pipeline/preprocessors/link_map.py
  src/langsmith/auth.mdx
Labels: langsmith, python, docs-infra

add shortcuts/redirects (#1337)
  src/docs.json
Labels: none

chore(oss/js): fix `ToolRuntime` references in docs (#1338)
  src/oss/langchain/context-engineering.mdx
Labels: langchain, oss

chore(oss/js): update runtime doc (#1339)
  src/oss/langchain/runtime.mdx
Labels: langchain, oss

fix: address review comments from the Slack team as we continue through their app review process (#1342)
  src/docs.json
  src/langsmith/agent-builder-slack-app.mdx
Labels: langsmith
